

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #04000A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;          
    padding: 10px;
    background-color: #04000A;
    color: white;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;     
    margin: 10px;            
    padding: 10px;         
    display: flex;       
    justify-content: flex; 
    gap: 20px;              
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: purple; }

footer {
        text-align: center;
        padding: 20px;
        background: #04000A;
        color: #ffffff;
        position: absolute;
        bottom: 0;
        width: 100%;
}

.main-menu__wrapper-inner {
    display: flex;            
    align-items: center;      
    justify-content: flex-start; 
    gap: 20px;                
}

.main-menu__wrapper-inner ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;                
}