.nav-link:hover{
    color: #FFA300
}

.active{
    color: #FFA300;
}

.navbar-nav >.nav-item> .nav-link.active {
    color: #FFA300;
}
#carouselSlideOnly{
    width: 100%;
}

  
  #carouselSlideOnly .carousel-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
  }

  #carouselSlideOnly::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
  }

  .btn-primary{
    background-color: #FFA300;
    color: black;
    border-color: black;
  }


  .btn-primary:hover{
    background-color:black;
    color: #FFA300;
    border-color: #FFA300;
  }

  #carouselSlideOnly .carousel-item {
    position: relative;
    height: 100vh; 
  }

  #carouselSlideOnly .carousel-innet{
    width: 100vh;
  } 

.card{
  height: 100%;
}
  
.card-body {
  display: flex;         
  flex-direction: column; 
}


.card-body .btn {
  margin-top: auto;       
  align-self: flex-start; 
}